

nav.navbar {



    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.12);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.1px);
    -webkit-backdrop-filter: blur(17.1px);
}




body {

    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.container, .card {

    color: #ffffff;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.1px);
    -webkit-backdrop-filter: blur(17.1px);
}

input {
     /* From https://css.glass */
     background: black;   
}